{% extends 'remiza/base.html' %}

{% block content %}
    <form method="post" class="search-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="search-btn" style="background-color: #28a745;">Zapisz zmiany</button>
        {% if pojazd.pk %}
        <a style="text-decoration: none;" href="{% url 'usun_pojazd' pojazd.pk %}" class="search-btn" onclick="return confirm('Czy na pewno chcesz usunąć ten pojazd?')" >Usuń</a>
    </form>
        {%endif%}
{% endblock %}